
.main-container{
    background-color: rgb(36,99,73);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 20px;
}

.hero-search{
    display: flex;
    align-items: flex-end;
}

h2{
    color: white;
}

input {
    border: none;
    border-radius: 5px;
    height: 30px;
}

.search-btn{
    border: none;
}

.boxes{
    display: flex;
    gap: 100px;
}

.search-btn{
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(246, 166, 14);
    color: white;
    width: 100px;

}

